# GroupBy III

In [0]:
import pandas as pd

### Use Case: statistics on test Scores.

In [0]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [4]:
army = pd.DataFrame(raw_data, columns = raw_data.keys())
army

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### What is the mean preTestScore from the regiment Nighthawks?

In [15]:
army[army['regiment'] == 'Nighthawks'].preTestScore.mean()

15.25

### Compute simple statistics (mean, std, min, max, quantiles) by company

In [20]:
company = army.groupby('company')
company.describe()

        preTestScore                             ... postTestScore
               count       mean        std  min  ...           25%   50%   75%   max
company                                          ...
1st              6.0   6.666667   8.524475  2.0  ...         34.25  66.0  70.0  94.0
2nd              6.0  15.500000  14.652645  2.0  ...         58.25  62.0  68.0  94.0

[2 rows x 16 columns]

### What is the mean each company's preTestScore?

In [21]:
company.preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Present the mean preTestScores grouped by regiment and company

In [23]:
regimentCompany = army.groupby(['regiment', 'company'])
regimentCompany.preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [25]:
regimentCompany.preTestScore.mean().unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Group the entire dataframe by regiment and company

In [31]:
regimentCompany.describe()

                   preTestScore                   ... postTestScore
                          count  mean        std  ...           50%    75%   max
regiment   company                                ...
Dragoons   1st              2.0   3.5   0.707107  ...          47.5  58.75  70.0
           2nd              2.0  27.5   4.949747  ...          75.5  84.75  94.0
Nighthawks 1st              2.0  14.0  14.142136  ...          59.5  76.75  94.0
           2nd              2.0  16.5  20.506097  ...          59.5  60.75  62.0
Scouts     1st              2.0   2.5   0.707107  ...          66.0  68.00  70.0
           2nd              2.0   2.5   0.707107  ...          66.0  68.00  70.0

[6 rows x 16 columns]

###  What is the number of observations in each regiment and company

In [33]:
regimentCompany.size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Iterate over a group and print the name and the whole data from the regiment

In [38]:
for aRegiment in regiment:
  print(aRegiment);

('Dragoons',    regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57)
('Nighthawks',      regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62)
('Scouts',    regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70)